

body {   
	min-height: 2000px;
	background-image: url(http://www.folioart.co.uk/images/uploads/Finn_Campbell_Notman-Folio-Illustration-Art-Austin_Reed-3-L.jpg);
	background-repeat: no-repeat;
	background-position: center;
 }
.navbar-static-top {   
	margin-bottom: 19px;
} 

/*Textarea not resizeable*/ 

textarea {     
	resize:none 
}

