    {% extends "base.html" %}
    {% block content %}
    <style>
    
    .circular-image{
        border-radius: 50%;
        width:250px;
        height:300px;
    }


    </style>
    <h1 style="font-family: Comic Sans MS">Portofolio</h1>
    

    <img src='https://images-na.ssl-images-amazon.com/images/M/MV5BMjUzZTJmZDItODRjYS00ZGRhLTg2NWQtOGE0YjJhNWVlMjNjXkEyXkFqcGdeQXVyMTg4NDI0NDM@._V1_UY317_CR51,0,214,317_AL_.jpg', class='circular-image'>





    <hr/>
    <section name="bio">
        <br>
        <br>
        <h2 style="font-family: Comic Sans MS;font-size: 30px">Bio</h2>
        <p style="font-family: courier;font-size: 20px">
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li style="font-family: courier;font-size: 20px"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
