<!-- partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top"> <!--buat ngasih barnya stay diatas -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Bikin java scriptnya -->
      <a class="navbar-brand" href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">LOGOUT</a>
    </div>
  </div>
</nav>

